@{
	Layout = "_Layout";
	ViewData["Title"] = "Dashboard";
}
<div class="flex items-center pb-4">
    <h1 class="text-3xl font-bold text-slate-950 dark:text-white">
        Projects
    </h1>
    <div class="ml-auto">
        <button data-dialog-target="add-project-dialog"
                class="btn-primary px-6"
                type="button">
            <i class="fa-solid fa-plus mr-1.5"></i>
            Add Project
        </button>
	</div>
</div>
<div>
    @await Html.PartialAsync("_NavProjects")
</div>

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-8 pt-8 overflow-y-auto">
    <div class="rounded-xl h-[13rem] sm:h-[17rem] bg-white shadow-md p-6">
        new project
    </div>
    <div class="rounded-xl h-[13rem] sm:h-[17rem] bg-white shadow-md p-6">
        new project
    </div>
    <div class="rounded-xl h-[13rem] sm:h-[17rem] bg-white shadow-md p-6">
        new project
    </div>
    <div class="rounded-xl h-[13rem] sm:h-[17rem] bg-white shadow-md p-6">
        new project
    </div>
    <div class="rounded-xl h-[13rem] sm:h-[17rem] bg-white shadow-md p-6">
        new project
    </div>
    <div class="rounded-xl h-[13rem] sm:h-[17rem] bg-white shadow-md p-6">
        new project
    </div>
    <div class="rounded-xl h-[13rem] sm:h-[17rem] bg-white shadow-md p-6">
        new project
    </div>
    <div class="rounded-xl h-[13rem] sm:h-[17rem] bg-white shadow-md p-6">
        new project
    </div>
</div>

@await Html.PartialAsync("_AddProjectModal")
