@{
	Layout = "_Layout";
	ViewData["Title"] = "Dashboard";
}
<div>
    <h1 class="text-3xl font-bold text-slate-950 dark:text-white">
        Projects
    </h1>

    <hr class="my-2 border-slate-300" />
</div>
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-8 pt-8 overflow-y-auto">
    <div class="rounded-xl h-[13rem] sm:h-[17rem] bg-white shadow-md p-6">
        new project
    </div>
    <div class="rounded-xl h-[13rem] sm:h-[17rem] bg-white shadow-md p-6">
        new project
    </div>
    <div class="rounded-xl h-[13rem] sm:h-[17rem] bg-white shadow-md p-6">
        new project
    </div>
    <div class="rounded-xl h-[13rem] sm:h-[17rem] bg-white shadow-md p-6">
        new project
    </div>
    <div class="rounded-xl h-[13rem] sm:h-[17rem] bg-white shadow-md p-6">
        new project
    </div>
    <div class="rounded-xl h-[13rem] sm:h-[17rem] bg-white shadow-md p-6">
        new project
    </div>
    <div class="rounded-xl h-[13rem] sm:h-[17rem] bg-white shadow-md p-6">
        new project
    </div>
    <div class="rounded-xl h-[13rem] sm:h-[17rem] bg-white shadow-md p-6">
        new project
    </div>
</div>
