@model WebApp.Models.ViewModels.ProjectFormModel

@* Basecode for modal from Material Tailwind, modified to fit the design of the project. *@
<div data-dialog-backdrop="add-project-dialog"
        data-dialog-backdrop-close="true"
        class="pointer-events-none fixed inset-0 z-[999] grid h-screen w-screen place-items-center bg-black bg-opacity-60 opacity-0 backdrop-blur-sm transition-opacity duration-300">
    <div data-dialog="add-project-dialog"
            class="relative mx-auto w-full max-w-[24rem] sm:max-w-[32rem] rounded-lg overflow-hidden shadow-sm">
        <form asp-action="Add" asp-controller="Project" method="post" novalidate class="relative flex flex-col bg-white max-h-[90dvh] overflow-y-auto">

            <div class="m-8 items-center flex justify-start">
                <h3 class="text-2xl font-bold text-slate-950">
                    Add Project
                </h3>
            </div>
            <div class="w-full max-w-sm min-w-[200px] sm:max-w-md sm:min-w-[300px] flex items-center justify-center">
                <div class="img-bg-square h-32 w-32">
                    <img src="~/images/Vector6.svg" asp-append-version="true" alt="project symbol" class="inline-block w-20 h-20 pt-2" />
                </div>
            </div>
            <div class="flex flex-col gap-4 p-6">
                <div class="w-full max-w-sm min-w-[200px] sm:max-w-md sm:min-w-[300px]">
                    <label asp-for="ProjectName" class="block mb-2 text-sm font-semibold text-slate-950">
                        Project Name
                    </label>
                    <input asp-for="ProjectName" class="text-input" placeholder="Project Name" />
                    <span asp-validation-for="ProjectName" class="text-red-500 text-sm mt-1 block"></span>
                </div>

                <div class="w-full max-w-sm min-w-[200px] sm:max-w-md sm:min-w-[300px]">
                    <label asp-for="ClientName" class="block mb-2 text-sm font-semibold text-slate-950">
                        Client Name
                    </label>
                    <input asp-for="ClientName" class="text-input" placeholder="Client Name" />
					<span asp-validation-for="ClientName" class="text-red-500 text-sm mt-1 block"></span>
                </div>

                <div class="w-full max-w-sm min-w-[200px] sm:max-w-md sm:min-w-[300px]">
                    <label asp-for="Description" name="Description" class="block mb-2 text-sm font-semibold text-slate-950">
                        Description
                    </label>
                    <div class="rich-text-editor min-h-[10rem] text-input"></div>
                    <input asp-for="Description" type="hidden" name="Description" id="description" />
					<span asp-validation-for="Description" class="text-red-500 text-sm mt-1 block"></span>
                </div>

                <div class ="flex gap-4 w-full max-w-sm min-w-[200px] sm:max-w-md sm:min-w-[300px]">
                    <div class="w-full max-w-sm min-w-[100px] sm:max-w-md sm:min-w-[150px]">
                        <label asp-for="StartDate" class="block mb-2 text-sm font-semibold text-slate-950">
                            Start Date
                        </label>
                        <input asp-for="StartDate" type="date" class="text-input" />
						<span asp-validation-for="StartDate" class="text-red-500 text-sm mt-1 block"></span>
                    </div>
                    <div class="w-full max-w-sm min-w-[100px] sm:max-w-md sm:min-w-[150px]">
                        <label asp-for="EndDate" class="block mb-2 text-sm font-semibold text-slate-950">
                            End Date
                        </label>
                        <input asp-for="EndDate" type="date" class="text-input" />
						<span asp-validation-for="EndDate" class="text-red-500 text-sm mt-1 block"></span>
                    </div>
                </div>

                <div class="w-full max-w-sm min-w-[200px] sm:max-w-md sm:min-w-[300px]">
                    <label asp-for="Budget" class="block mb-2 text-sm font-semibold text-slate-950">
                        Budget
                    </label>
                    <input asp-for="Budget" type="number" class="text-input" placeholder="Budget" />
					<span asp-validation-for="Budget" class="text-red-500 text-sm mt-1 block"></span>
                </div>
            </div>
            <div class="p-6 pt-6">
                <button class="btn-primary" type="submit">
                    Create
                </button>
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("_ValidationScripts")