<header class="flex items-center justify-end gap-4 p-4 border-b border-slate-300 dark:border-slate-700">
    <div>
		@await Html.PartialAsync("_DropdownNotifications")
    </div>
    <div>
		@await Html.PartialAsync("_DropdownAccount")
    </div>
</header>
