<div class="flex items-center justify-center gap-3">
    <img src="/images/Logo.svg" alt="alpha Logo" class="w-12 h-12">
    <span class="text-4xl font-logo font-semibold text-slate-950 dark:text-white">
        alpha
    </span>
</div>
