@model WebApp.Models.ViewModels.LoginFormModel

@* Basecode for modal from Material Tailwind, modified to fit the design of the project. *@
<div data-dialog-backdrop="sign-in-dialog"
     data-dialog-backdrop-close="true"
     class="pointer-events-none fixed inset-0 z-[999] grid h-screen w-screen place-items-center bg-black bg-opacity-60 opacity-0 backdrop-blur-sm transition-opacity duration-300">
    <div data-dialog="sign-in-dialog"
         class="relative mx-auto w-full max-w-[37.5rem] rounded-lg overflow-hidden shadow-md transition-all duration-300 opacity-0 -translate-y-14">

        <div class="relative flex flex-col bg-white max-h-[90dvh] overflow-y-auto">
            <div class="relative mt-12 items-center flex justify-center">
                <h1 class="text-3xl font-bold">
                    Login
                </h1>
            </div>

            <form method="post" asp-controller="Auth" asp-action="Login" novalidate class="flex flex-col gap-4 py-8 px-24">

                <div class="w-full min-w-[200px]">
                    <label asp-for="Email" class="block mb-2 text-sm font-semibold"></label>
                    <input asp-for="Email" class="text-input" placeholder="Your email address" />
                    <span asp-validation-for="Email" class="text-red-500 text-sm"></span>
                </div>

                <div class="w-full min-w-[200px]">
                    <label asp-for="Password" class="block mb-2 text-sm font-semibold"></label>
                    <input asp-for="Password" class="text-input" placeholder="Enter your password" />
                    <span asp-validation-for="Password" class="text-red-500 text-sm"></span>
                </div>

                <div class="flex items-start">
                    <input asp-for="RememberMe" type="checkbox" class="mr-2 mt-1 accent-blue-500" />
                    <label asp-for="RememberMe" class="text-sm font-medium text-slate-800">
                        Remember Me
                    </label>
                </div>

                <button class="btn-primary mt-6" type="submit">
                    Log In
                </button>
            </form>

            <div class="py-6 px-24 pt-0">
                <p class="flex justify-center mt-20 text-sm">
                    Don&apos;t have an account?
                    <a href="#"
                       data-close="sign-in-dialog"
                       data-switch-dialog="register-dialog"
                       class="ml-1 text-sm font-semibold text-blue-accent">
                        Sign Up
                    </a>

                </p>
            </div>

        </div>
    </div>
</div>

@await Html.PartialAsync("_ValidationScripts")
