
<nav>
    <ul class="flex items-center gap-4 text-slate-500 font-bold text-sm uppercase">
        <li class="text-blue-accent"><a href="">All [<span>10</span>]</a></li>
        <li><a href="">STARTED [<span>8</span>]</a></li>
        <li><a href="">COMPLETED [<span>2</span>]</a></li>
    </ul>
</nav>
<hr class="my-2 border-slate-300" />
