@functions {
    string IsActive(string controller, string action)
    {
        var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
        var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
        return (currentController == controller && currentAction == action) ? "bg-blue-light hover:my-0" : "";
    }
}

<nav class="flex flex-col items-start justify-center text-blue-accent">
    <ul class="w-full">
        <li class="p-4 transition-all rounded-2xl hover:bg-blue-light hover:my-1 @IsActive("Admin", "Projects")">
            <a class="flex place-items-center gap-4" asp-controller="Project" asp-action="Dashboard">
                <i class="fa-duotone fa-solid fa-briefcase"></i>
                <span>Projects</span>
            </a>
        </li>
        <li class="p-4 transition-all rounded-2xl hover:bg-blue-light hover:my-1 @IsActive("Admin", "Members")">
            <a class="flex place-items-center gap-4" asp-controller="Project" asp-action="UnderDevelopment">
                <i class="fa-duotone fa-solid fa-user-group"></i>
                <span>Members</span>
            </a>
        </li>
        <li class="p-4 transition-all rounded-2xl hover:bg-blue-light hover:my-1 @IsActive("Admin", "Clients")">
            <a class="flex place-items-center gap-4" asp-controller="Project" asp-action="UnderDevelopment">
                <i class="fa-duotone fa-solid fa-handshake"></i>
                <span>Clients</span>
            </a>
        </li>
    </ul>
</nav>
