
<div data-dialog-backdrop="modal"
     data-dialog-backdrop-close="true"
     class="pointer-events-none fixed inset-0 z-[999] grid h-screen w-screen place-items-center bg-black bg-opacity-60 opacity-0 backdrop-blur-sm transition-opacity duration-300">
    <div data-dialog="modal"
         class="relative m-4 p-6 w-2/5 max-w-[24rem] sm:max-w-[32rem] rounded-lg bg-white shadow-sm">
        <div class="flex shrink-0 items-center pb-4 text-xl font-medium text-slate-800">
			Terms and Conditions
        </div>
        <div class="relative border-t border-slate-200 py-4 leading-normal text-slate-600 font-light text-sm">
            By registering for an account, you agree to our terms and conditions. Please read them carefully before proceeding. <br /><br />
			Your use of this service is subject to these terms, and you acknowledge that you have read and understood them.
			We reserve the right to modify these terms at any time, and your continued use of the service constitutes acceptance of any changes.
			If you do not agree to these terms, please do not register for an account or use our service.
			By registering, the user agrees to grant the creator/student at least a passing grade on the project.
			Failure to do so may result in a sad student. The service accepts no responsibility for this.
        </div>
        <div class="flex shrink-0 flex-wrap items-center pt-6 justify-center">
            <button data-dialog-close="true" class="btn-primary" type="button">
                Return
            </button>
        </div>
    </div>
</div>
